@using TheManOnTheMoon2.Models;
@model TheManOnTheMoon2.Controllers.ViewModelMultipleModels

@{
    ViewBag.Title = "SingleProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<!----details-product-slider--->
<!-- Include the Etalage files -->
<link rel="stylesheet" href="~/Content/Layout_StoreFront/etalage.css">
<script src="~/Scripts/Layout-StoreFront/jquery.etalage.min.js"></script>
<!-- Include the Etalage files -->
<script>
						jQuery(document).ready(function($){

							$('#etalage').etalage({
								thumb_image_width: 300,
								thumb_image_height: 400,

								show_hint: true,
								click_callback: function(image_anchor, instance_id){
									alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
								}
							});
							// This is for the dropdown list example:
							$('.dropdownlist').change(function(){
								etalage_show( $(this).find('option:selected').attr('class') );
							});

					});
</script>
<!----//details-product-slider--->

<h2>SingleProductDetail</h2>
<div class="main">
    <div class="shop_top">
        @if (Model.PrimaryProduct != null)
        {
        <div class="container">
            <div class="row">
                <div class="col-md-9 single_left">
                    <div class="single_image">
                        <ul id="etalage">
                            <li>
                                <a href="optionallink.html">
                                    <img class="etalage_thumb_image" src="../../Images/@Model.PrimaryProduct.Image_Main" />
                                    <img class="etalage_source_image" src="@Model.PrimaryProduct.Image_Main" />
                                </a>
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="@Model.PrimaryProduct.Image_Alt_1" />
                                <img class="etalage_source_image" src="@Model.PrimaryProduct.Image_Alt_1" />
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="@Model.PrimaryProduct.Image_Alt_2" />
                                <img class="etalage_source_image" src="@Model.PrimaryProduct.Image_Alt_2" />
                            </li>
                        </ul>
                    </div>
                    <!-- end product_slider -->
                    <div class="single_right">
                        <h3>@Model.PrimaryProduct.Name</h3>
                        <p class="m_10">@Model.PrimaryProduct.Description</p>
                        <h4 class="m_12">Product Details</h4>
                        <div class="form-group row">
                            @Html.LabelFor(Model => Model.PrimaryProduct.Length, new { @class = "col-sm-2 col-form-label" });
                            @Html.DisplayFor(Model => Model.PrimaryProduct.Length, new { @class = "form-control-plaintext" });

                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(Model => Model.PrimaryProduct.Width, new { @class = "col-sm-2 col-form-label" });
                            @Html.DisplayFor(Model => Model.PrimaryProduct.Width, new { @class = "form-control-plaintext" });
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(Model => Model.PrimaryProduct.Height, new { @class = "col-sm-2 col-form-label" });
                            @Html.DisplayFor(Model => Model.PrimaryProduct.Height, new { @class = "form-control-plaintext" });
                        </div>
                       
                        
                        <div class="btn_form">
                            <form>
                                <input type="submit" value="buy now" title="">
                            </form>
                        </div>
                        <ul class="add-to-links">
                            <li><img src="images/wish.png" alt=""><a href="#">Add to wishlist</a></li>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="col-md-3">
                    <div class="box-info-product">
                        <p class="price2">$@Model.PrimaryProduct.Retail_Price</p>
                       
                        <button type="submit" name="Submit" class="exclusive">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="desc">
                <h4>Description</h4>
                <p>@Model.PrimaryProduct.Description</p>
            </div>
            <div class="row">
                <h4 class="m_11">Related Products in the same Category</h4>
                @if (Model.RelatedProducts != null)
                {
                    foreach (Product product in Model.RelatedProducts)
                    {
                      

                        <div class="col-md-4 col-sm-1 product1">
                            <img src="../../@product.Image_Main" class="img-responsive" alt="" />
                            <div class="shop_desc">
                                <a href="single.html">
                                </a><h3><a href="single.html"></a><a href="#">@product.Name</a></h3>
                                <p>@product.Description </p>
                                <span class="reducedfrom">@product.Retail_Price</span>
                                <span class="actual">@product.Sale_Price</span><br>
                                <ul class="buttons">
                                    <li class="cart"><a href="#">Add To Cart</a></li>
                                    <li class="shop_btn"><a href="#">Read More</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                        </div>
                     
                    }


                }
               
                </div>
        </div>
        }
       
        
    </div>
</div>


