@model IEnumerable<TheManOnTheMoon2.Models.Product>
@using TheManOnTheMoon2.Models;
@{
    ViewBag.Title = "AllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllProducts</h2>

<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row shop_box-top">
                @if(Model!=null)
                {
                    foreach(Product p in Model)
                    {

                <div class="col-md-3 mx-1 my-1 shop_box">
                    <a href="@Url.Action("SingleProductDetail","Products",new { id=p.Id})">
                        <img src="../../Images/@p.Image_Main" class="img-responsive" alt="" />
                        <span class="new-box">
                            <span class="new-label">New</span>
                        </span>
                        <span class="sale-box">
                            <span class="sale-label">Sale!</span>
                        </span>
                        <div class="shop_desc">
                            <h3><a href="#">@p.Name</a></h3>
                            <p>@p.Description </p>
                            <span class="reducedfrom">@p.Retail_Price</span>
                            <span class="actual">@p.Sale_Price</span><br>
                            <ul class="buttons">
                                <li class="cart"><a href="#">Add To Cart</a></li>
                                <li class="shop_btn"><a href="#">Read More</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </a>
                </div>
                    }
                }
                
            </div>
            
        </div>
    </div>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
